<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>會員頁</title>
        <style>
            .body{
                margin: 0px;
            }
            .logo{
                margin: 0px;
                background-color: rgb(9, 33, 78);
                text-align: center;
                color: white;
                padding: 30px;
            }
            .section{
                text-align: center;
            }
            .section2{
                padding-bottom: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body class="body">
        <!-- 網頁的標頭，通常放置網站標題 -->
        <header>
            <h1 class="logo">
                <a>歡迎光臨，這是會員頁</a>
            </h1>
        </header>
        <!-- 網頁的主要內容 -->
        <main>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <section class="section">           
                <form action="/signout">
                    <h2>{{data}}，歡迎登入系統</h2>
                    <button>登出系統</button>
                </form>
            </section>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <section class="section2">           
                <form action="api/users">
                    <h2>查詢會員姓名</h2>
                    <input type="text" name="check_name" required/>
                    <button>查詢</button>
                    <h2></h2>
                </form>
            </section>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <section class="section2">           
                <form action="api/user">
                    <h2>更新我的姓名</h2>
                    <input type="text" name="updata_name" required/>
                    <button>更新</button>
                    <h2></h2>
                </form>
            </section>
        </main>
    </body>
</html>