<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>會員頁</title>
        <style>
            .body{
                margin: 0px;
            }
            .logo{
                margin: 0px;
                background-color: rgb(9, 33, 78);
                text-align: center;
                color: white;
                padding: 30px;
            }
            .section{
                padding: 50px;
                text-align: center;
            }
        </style>
    </head>
    <body class="body">
        <!-- 網頁的標頭，通常放置網站標題 -->
        <header class="header">
            <h1 class="logo">
                <a>歡迎光臨，這是會員頁</a>
            </h1>
        </header>
        <!-- 網頁的主要內容 -->
        <main>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <form action="/signout" class="section">
                <h2>恭喜您，成功登入系統</h2>
                <button>登出系統</button>
            </form>
        </main>
    </body>
</html>