<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>會員頁</title>
        <style>
            .body{
                margin: 0px;
            }
            .logo{
                margin: 0px;
                background-color: rgb(9, 33, 78);
                text-align: center;
                color: white;
                padding: 30px;
            }
            .section{
                text-align: center;
            }
            .section2{
                padding-bottom: 20px;
                text-align: center;
            }
        </style>
    </head>
    <body class="body">
        <!-- 網頁的標頭，通常放置網站標題 -->
        <header>
            <h1 class="logo">
                <a>歡迎光臨，這是會員頁</a>
            </h1>
        </header>
        <!-- 網頁的主要內容 -->
        <main>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <section class="section">           
                <form action="/signout">
                    <h2>{{data}}，歡迎登入系統</h2>
                    <button>登出系統</button>
                </form>
            </section>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <section class="section2">           
                <form id="check_name">
                    <h2>查詢會員姓名</h2>
                    <input type="text" name="username" id="check" required/>
                    <button onclick="getdata();" type="button">查詢</button>
                    <h2>{{data2}}</h2>
                </form>
            </section>
            <!-- 自訂的區塊，例如數篇摘要組成的空間 -->
            <section class="section2">           
                <form action="api/user">
                    <h2>更新我的姓名</h2>
                    <input type="text" name="updata_name" required/>
                    <button>更新</button>
                    <h2></h2>
                </form>
            </section>
        </main>
        <script type="text/javascript">
            function getdata(){
                let username = document.getElementById("check");
                let req = "http://127.0.0.1:3000/api/users?username="+username.value; //在瀏覽器上面顯示的即爲HTMLInputElement,不是實際的輸入值,添加value屬性
                fetch(req).then(function(response){
				    		return response.json();
				    	}).then(function(result){
                            result = JSON.stringify(result); // 把json类型转换为String类型
                            let mycheck = document.getElementById("check_name");
                            let text = document.createTextNode(result);
                            mycheck.appendChild(text);
                })
            }
        </script>
    </body>
</html>